.hero{
  justify-content: center;
display: grid;
grid-template-columns: 537px 500px;
gap: 60px;



  .hero-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
      font-family: $fira;
    .hero-txt-h1{
      h1{
        font-size: $h1;
        font-weight: $bold;
        line-height: 40px;
        color: $branco;
      }
      span{
        color: $roxoicone;
      }
    }

    .hero-txt-p{
      width: 90%;
      p{
        color: $branco2;
        font-weight: $regular;
        font-size: $p;
        line-height: 22px
      }
    }
  }


  .hero-img{
    height: 100%;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    img{
      width: 100%;
      height: 100%;
    }
    .hero-card{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      padding:  10px;
      border: 1px solid #ABB2BF;
      background-color: $cinzaclaro;
      width: 85%;
      p{
      font-size: $p;
      font-family: $fira;
      color: #ABB2BF;
      font-weight: $medium;
      a{
        color: $branco;
        font-weight: $bold;
      }
      }
      .hero-card-bolinha{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #C778DD;
      }

    }
  }
}



h1::after {
  font-size: 24px;
  content: '|';
  opacity: 1;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
// sobre
// sobre
// sobre
.sobre{
  display: grid;
  grid-template-columns: 600px 550px;
  gap: 80px;
}

.sobre-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sobre-txt{
  display: flex;
  flex-direction: column;
  gap: 30px;
  h3{
    font-size: $h3;
    font-family: $fira;
    font-weight: $medium;
    color: $branco;
  }
  p{
    color: $branco2;
    font-family: $fira;
    font-weight: $regular;
    font-size: $p;


    span{
      color: $branco;
      font-weight: $medium;
    }
  }
}

